<!DOCTYPE html>
<html>
  <%- include ../partial/head %>
  <body>
    <%- include ../partial/menubar %>
    <br><br>
    <form class="" action="/suppliers/edit/<%= supplier[0].id%>" method="POST">
    <p> Name
        <br>
      <input type="text" name="name" value="<%= supplier[0].name%>" placeholder="Name">
    </p>
    <p> Kota
        <br>
      <input type="text" name="kota" value="<%= supplier[0].kota%>" placeholder="Kota">
    </p>
    <p>
            <select class="" name="ItemId">
              <% data_item.forEach(row => { %>
              <option value="<%=row.id%>"
    
                <% if(supplier[0].ItemId == row.id ) { %>
                selected
                <% } %>
    
                ><%=row.name%></option>
              <% }) %>
            </select>
          </p>
      <input type="submit" value="Save">
    </form>
  </body>
</html>